@font-face {
    font-family: "Funkies";
    src: local(Funkies), url("./fonts/Funkies.ttf") format("ttf");
    src: local(Funkies), url("./fonts/Funkies.woff") format("woff");
}



body {
    background-color: #FF8D00 ;
    color: saddlebrown;
    /* text-shadow: #FFF400; */
    text-align: center;
    font-family: "Funkies" ;
    font-size: 2em;
}

.jumbotron h1 {
    text-transform: capitalize;
    
}

hr {
    margin-top: 2.5em;
}



.jumbotron em {
    font-size: 130%;
    color: saddlebrown;
}

.jumbotron img {
    width: 110%;
}

img {
    width: 80%;
    margin-top: 0.2em;
}

.txt-final {
    font-size: 1.5em;
    padding-bottom: 10%;
}

#btn-main {
    font-size: 1.1em;
}

.modal-p1 {
    /* display: none; */
}
.modal-p2 {
    
}
.modal-p3 {
    
}

.modal-p4 {
    
}

.hide-me {
    display: none;
}

.modal-body {
    background-color: #FF8D00 ;
}
.modal-header {
    background-color: rgb(22, 12, 0) ;
}
.modal-footer {
    background-color: rgb(22, 12, 0) ;
}


.jumbotron {
    background-color: rgba(255, 255, 255, 0.05) ;
    color: seashell;
    font-family: Funkies ;
    /* padding-top: 0.1 em; */
}


/* Stylisation du HR */

hr {
    padding: 0;
    border: none;
    height: 4px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: saddlebrown;
    text-align: center;
    margin-bottom: 2em;
}

hr:after {
    content:" ";
    display: inline-block;
    position: relative;
    top: -2.1em;
    font-size: 1.5em;
    padding: 20% 1.75em 2em;
    background: url(huggy.png) no-repeat scroll center;
    background-size: 150px 150px;
    height: 150px;
    }
p.p-intro{
    font-size: 0.1 em;
}
    input {
            font-size: 1em;
            line-height: 1.5em;
            margin: 0;
            padding: 0;
            -webkit-appearance: none;
    }

.formulaire-cadre {
    margin: 50px auto;
	width: 242px;
 }

 .formulaire-cadre input {
    border: none;
	height: 48px;
	outline: none;
 }

 .formulaire-cadre input[type="text"] {
	background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
	color: #363636;
	padding-left: 36px;
	width: 204px;
}
 .formulaire-cadre input[type="tel"] {
	background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-bottom: 2px solid #2c90c6;
	border-left: 1px solid #000;
	border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	padding-left: 36px;
	width: 204px;
}

.formulaire-cadre input[type="search"] {

    background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-bottom: 2px solid #2c90c6;
	border-left: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	/* padding-left: 36px; */
	width: 100%;
}

.formulaire-cadre input[type="number"] {

    background-color: #fff;
	border-top: 2px solid #2c90c6;
	border-right: 1px solid #000;
	border-bottom: 2px solid #2c90c6;
	border-left: 1px solid #000;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
  -o-border-radius: 5px 5px 5px 5px;
  -ms-border-radius: 5px 5px 5px 5px;
	color: #363636;
	margin-bottom: 20px;
	padding-left: 36px;
    width: 102px;
    -moz-appearance: textfield;

}

.formulaire-cadre input[type="number"] {
background-color: #2c90c6;
	border: 1px solid #2c90c6;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
	color: #fff;
	font-weight: bold;
	line-height: 48px;
	text-align: center;
	text-transform: uppercase;
    width: 240px;
    
}

.formulaire-cadre input[type="number"]::-webkit-inner-spin-button, .formulaire-cadre input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
}

