@font-face {
    font-family: "Funkies";
    src: local(Funkies), url("./fonts/Funkies.ttf") format("ttf");
}

body {
    background-color: #FF8D00 ;
    color: saddlebrown;
    text-shadow: #FFF400;
    text-align: center;
    font-family: "Funkies" ;
    font-size: 2em;
}

.jumbotron h1 {
    text-transform: capitalize;
    
}

hr {
    margin-top: 2.5em;
}



.jumbotron em {
    font-size: 130%;
    color: saddlebrown;
}

.jumbotron img {
    width: 110%;
}

img {
    width: 80%;
    margin-top: 0.2em;
}


.modal-p1 {
    /* display: none; */
}
.modal-p2 {
    
}
.modal-p3 {
    
}

.modal-p4 {
    
}

.hide-me {
    display: none;
}

.modal-body {
    background-color: #FF8D00 ;
}
.modal-header {
    background-color: rgb(22, 12, 0) ;
}
.modal-footer {
    background-color: rgb(22, 12, 0) ;
}


.jumbotron {
    background-color: rgba(255, 255, 255, 0.05) ;
    color: seashell;
    font-family: Funkies ;
    padding-top: 0.1 em;
}

